<h1>Editing Comment</h1>

<%= render 'edit_form', blog: @blog, comment: @comment %>

<%= link_to 'Show', blog_comment_path(@blog, @comment), class:"btn btn-dark" %> |
<%= link_to 'Back', blog_comments_path(@blog), class:"btn btn-dark" %>
